<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Naticalexims Solutions</title>
    
    <link rel="Stylesheet" href="static/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/home"><img src="static/JPEG.jpg" class="logo"></a>
        <div class="menu">
        <a href="/home">Home</a>
        <a href="/products">Products</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        </div>
    </nav>
    <div class="top-image-container">
        <img src="static/exports.jpeg" alt="Top Image">
        <div class="top-image-text">
            <p>Your Global Trade Partner</p>
        </div>
    </div>
    <div class="contents">
        <div class="section-texts">
            <h2>ABOUT US</h2>
            <p>Naticalexims Solutions is a trusted name in the import and export industry. We connect global markets with efficient, transparent, and reliable trade services. With over 15 years of expertise and a dedicated team, we help businesses thrive in the competitive global economy.</p>
        
            <p>Our mission is to bridge the gap between businesses and international markets, delivering exceptional value and uncompromising service quality. We take pride in our role in fostering international trade, and we are committed to helping businesses access top-quality products at competitive prices, ensuring long-term success.<br>We believe in building lasting relationships with our clients, providing them with unparalleled service and offering a broad range of products including agricultural goods, textiles, handicrafts, and more. At Naticalexims, our goal is to become the go-to global partner for businesses looking to expand their reach and enhance their operations worldwide.</p>
            
            
    </div>
    </div>
    <footer>
        <div class="footer-container">
            
            <div class="footer-left">
                <img style="border-radius: 0%;" src="static/WHITE.png" alt="NaticalExims Logo">
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61572382533702"><img src="static/facebook.png" alt="Facebook"></a>
                    <a href="https://www.instagram.com/natical_exims/"><img src="static/instagram.jpeg" alt="Instagram"></a>
                    <a href="https://www.linkedin.com/in/natical-exims-821a19348/"><img src="static/twitter.png" alt="Twitter"></a>
                    <a href="https://x.com/EximsNatic68780"><img src="static/linkedin.png" alt="Linked In"></a>
                    </div>
                    <p class="social-iconss"><img src="static/email.png" class="icon"><span>naticalexims@gmail.com</span></p>
                    <p class="social-iconss"><img src="static/phone.png" class="icon"><span>+91-96408 22289</span> </p>
                </div>
    
            <!-- Middle Section: Useful Links -->
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
    
            <!-- Right Section: Contact Information -->
            <div class="footer-right">
                <h3>Contact Information</h3>
                <p>🇮🇳 <strong>NaticalExims</strong></p>
                <p>D.No. 6-5-989, Lakshmi Kala building,<br> Srinagar Colony, near Saveera Hospital, Anantapur-515001</p>
                
                
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>© NaticalExims 2024. ALL RIGHTS RESERVED. Design and Developed by <a href="home.html" style="text-decoration: none;">NaticalExims</a></p>
        </div>
    </footer>
</body>
</html>
